<!DOCTYPE html>
<html>
<head>
  <title>MindMakers-mBot</title>
  <link rel="stylesheet" href="style/style.css">
  <link rel="stylesheet" href="style/buttons.css">
  <script data-main="./js/config" src="./js/libs/require.js"></script>

</head>
<body>
  <div id="app">
    <div id="type-device-panel" style="margin-top:10px;height:160px">
      <img :src="mbot" width="330px"/>
    </div>
  </div>

  <!--<div id="bluetooth-devices" style="margin:10px 0px;height:40px">
    <span style="width:220px;display:block;">Bluetooth</span>
    <select v-model="selected" style="width:120px;">
      <option v-for="option in options" v-bind:value="option.value">
        {{ option.text }}
      </option>
    </select>
    <button id="button" class="button button-action button-box" v-on:click="discover">Discover</button>
    <button id="button-right" class="button button-primary button-box" v-on:click="connect">Connect</button>
  </div>-->
  <div id="hid-devices" style="margin:20px 0px;height:40px">
    <span style="width:200px;display:block;">HID Wireless</span>
    <select v-model="selected" style="width:200px;">
      <option v-for="option in options" v-bind:value="option.value">
        {{ option.text }}
      </option>
    </select>
    <button id="button-right" class="button button-primary button-box" v-on:click="connect">Conectar</button>
  </div>
  <div id="serial-devices">
    <span style="width:200px;display:block;">Porta Serial</span>
    <select v-model="selected" style="width:200px;">
      <option v-for="option in options" v-bind:value="option.value">
        {{ option.text }}
      </option>
    </select>
    <button id="button-right" class="button button-primary button-box" v-on:click="connect">Conectar</button>
  </div>
  <div id="scratch-x-panel" style="margin:10px auto 0 auto;width:100%;">
    <button v-on:click="refresh" id="button-left"  class="button button-action button-box" >Atualizar</button>
    <button v-on:click="openProject"  id="button-width" class="button button-highlight button-box">Abrir no ScratchX</button>
  </div>
</body>
</html>
