<!DOCTYPE html>
<html>
<head>
  <title>Makeblock-mBot</title>
  <link rel="stylesheet" href="style/style.css">
  <script data-main="./js/config" src="./js/libs/require.js"></script>
    
</head>
<body>
  <div id="app">
    <img :src="logo" />
    <div id="type-device-panel" style="height:40px">
      <span style="width:220px;display:block;">mBot</span>
      
      <button v-on:click="mbotSelected">mBot</button>
      <button v-on:click="rangerSelected">mBot Ranger</button>
    </div>
  </div>
  <div id="bt-device-panel" style="height:40px">
    <span style="width:220px;display:block;">Bluetooth</span>
    <select id="bt-device-selector" style="width:190px;"></select>
    <button id="connectBT" style="float:right;width:90px;">Connect</button>
  </div>
  <div id="hid-devices" style="height:40px">
    <span style="width:220px;display:block;">HID Wireless</span>
    <select v-model="selected">
      <option v-for="option in options" v-bind:value="option.value">
        {{ option.text }}
      </option>
    </select>
    <button v-on:click="connect" style="float:right;width:90px;">Connect</button>
  </div>
  <div id="serial-devices">
    <span style="width:220px;display:block;">Serial Port</span>
    <select v-model="selected" style="width:190px;">
      <option v-for="option in options" v-bind:value="option.value">
        {{ option.text }}
      </option>
    </select>
    <button v-on:click="connect" style="float:right;width:90px;">Connect</button>
  </div>
  <div id="scratch-x-panel" style="margin:10px auto 0 auto;width:100%;">
    <button v-on:click="refresh" style="float:left;height:28px;">Refresh</button>
    <button v-on:click="openProject" style="float:right;height:28px;color:#fff;background-color:#33cc77;">Open Scratch X</button>
  </div>
</body>
</html>
